:root {
  --border-color: #144fc6;
  --fill-color: #6ab3f8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}
.container {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cup {
  border: 2px solid var(--border-color);
  background-color: #fff;
  border-radius: 0 0 30px 30px;
  width: 100px;
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}
.remained {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}
.percentage {
  background: var(--fill-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all 0.3s ease-in-out;

}

.cups {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cups .small_cups {
  width: 50px;
  height: 80px;
  border-radius: 0 0 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cups .small_cups.full,
.cups .small_cups.hover {
  background: var(--fill-color);
  color: #fff;
}
